*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

#head {
  background-color: #014E56;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  margin-top: 77px;
}
.nav__list {
  display: flex;
  list-style-type: none;
  padding-left: 80px;
}
.nav .nav__inner-text {
  color: white;
}
.nav .click {
  background: transparent;
  border-radius: 25px;
  width: 153px;
  height: 48px;
  margin-left: 600px;
  border: 1px solid #fff;
  color: white;
}

.nav__inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav__list-item a {
  padding: 40px;
  text-decoration: none;
  color: white;
}

@media (max-width: 1252px) {
  .nav__list {
    position: absolute;
    left: 100px;
  }
  .nav__inner-text {
    position: absolute;
    left: 60px;
  }
  .click {
    position: absolute;
    left: -50px;
  }
}
.hero {
  max-width: 1110px;
}

.hero__subject {
  display: flex;
  margin-top: 250px;
  justify-content: space-between;
}
.hero__subject .hero__subject-text {
  color: white;
  width: 545px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}
.hero__subject .hero__subject-title {
  margin-top: -150px;
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  color: #938484;
}
.hero__subject .hero__subject-text::before {
  content: "";
  width: 50px;
  height: 4px;
  position: absolute;
  top: 230px;
  background-color: blue;
}

.hero__img {
  margin-left: 750px;
  margin-top: 145px;
}

@media (max-width: 1252px) {
  .hero__subject-text::before {
    display: none;
  }
  .hero__subject-title {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 56px;
    text-align: center;
    width: 683px;
    margin: 0 auto;
  }
  .hero__subject-text {
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
  }
  .hero__subject {
    flex-wrap: wrap;
  }
}
.inner {
  background-color: #012F34;
}

.inner__subtitle {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.inner__subtitle-text {
  width: 445px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: white;
}

.inner__subject-item {
  display: flex;
  list-style-type: none;
}

.hero__fonts-text {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: lightcoral;
}

.hero__fonts-title {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  width: 445px;
  color: white;
}

.inner__head {
  margin-top: 180px;
}

.inner__subtitle-text {
  margin-top: 50px;
}

.inner__subject-item {
  padding-top: 80px;
}

.hero__fonts {
  padding-left: 23px;
}

.inner__subtitle-text::before {
  content: "";
  width: 50px;
  height: 4px;
  background-color: pink;
  position: absolute;
  top: 950px;
}

@media (max-width: 1252px) {
  .hero__img img {
    position: absolute;
    left: 250px;
    top: 640px;
  }
  .inner__subtitle {
    flex-wrap: wrap;
  }
  .inner__subtitle-text::before {
    top: 860px;
  }
  .inner__subtitle-text {
    margin-top: 150px;
    font-size: 32px;
  }
  .inner__head {
    margin-left: 50px;
    margin-top: -20px;
  }
}/*# sourceMappingURL=main.css.map */